ul {
  list-style-type: none;
  font-weight: bold;
}

h2 {
  justify-content: center;
}

.image {
  align-content: center;
  max-width: 100%;
  max-height: auto;
}

.card-description {
  text-align: center;
}

.product-availability {
  flex-wrap: flex;
  background-color: darkgrey;
  color: yellow;
  display: block;
}

.card {
  border: 1px solid lightblue!important
}

/* Challenge: Font */
p {
  font-family: 'PT Sans', sans-serif;
}

/* .sold-out {
  width: 25%;
  position: relative;
  top: 20px;
  left: 40px
} */ */

/* sold-out {
  display: flex;
  flex-direction: column;
} */

/* .overlay {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  max-width: fit-content;
} */

#overlay-img-top {
  position: relative;
  top: 0px;
  left: 0px;
}

#sold-out {
  position: absolute;
  top: 0px;
  left: 10%;
  opacity: 80%;
}

.body-size {
  max-width: 100%;
}
